domus(n)
domus = 'jaf-domus-titling-web-1', 'jaf-domus-titling-web-2'

silver = #eee
gray = #999
blue = #1d53c2
babyblue = #3e79f1
cornflower = #7aa3f7
slate = #a0b0c0
blond = #ffd
lemon = #ffa
yellow = #ff3
cerise = #ca2c6f