extends base
block content
  div.nav.hide
    nav#language.inline
      ul
        li: a(href='#').active en
        li: a(href='#') nl

    h4.inline stdout.be

    nav#pages.inline
      ul
        li: a(href='#').active writing
        li: a(href='#') about me

  #avatar
    //#img(src='avatar13w.jpg')
    #img
    //img(src='avatar13w.jpg')
  article!= content